@import '~angular-crumbs/style';

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  justify-content: stretch;

  main {
    flex: 1;
  }
}

header {
  padding: 8px;
}

nav {
  a {
    padding: 8px;
    display: block;
  }
}

breadcrumb {
  padding: 8px;
  display: block;
  background-color: #efefef;
}
