.breadcrumb {
    display: inline-block;
}
.breadcrumb:first-child:before {
    display: none;
}
.breadcrumb:before {
    content: '>';
    vertical-align: top;
    display: inline-block;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
}