<mat-toolbar color="primary">
    <button mat-icon-button (click)="sideNav.toggle()" *ngIf="mobileQuery.matches"><mat-icon>menu</mat-icon></button>
    <ng-content></ng-content>
</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer #sideNav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!mobileQuery.matches">
        <ng-content select="[app-sidenav]"></ng-content>
    </mat-drawer>
    <mat-drawer-content>
        <ng-content select="[app-content]"></ng-content>
    </mat-drawer-content>
</mat-drawer-container>
<mat-toolbar>
    <footer>© 2018</footer>
</mat-toolbar>
