<mat-toolbar color="primary">
    <button mat-icon-button (click)="sideNav.toggle()"><mat-icon>menu</mat-icon></button>
    <a mat-icon-button [routerLink]="['/']"><mat-icon>home</mat-icon></a>
    <a mat-button href="https://emilol.github.io/angular-crumbs">Other Demos</a>
    <span class="spacer"></span>
    <a class="github-button" href="https://github.com/emilol/angular-crumbs" data-size="large" data-show-count="true" aria-label="Star emilol/angular-crumbs on GitHub"></a>
</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer #sideNav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!mobileQuery.matches">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/']">Home</a>
            <a mat-list-item [routerLink]="['/about']">About</a>
            <a mat-list-item [routerLink]="['/github']">GitHub</a>
            <a mat-list-item [routerLink]="['/github', 'angular']">
              <mat-icon>keyboard_arrow_right</mat-icon>Angular
            </a>
            <a mat-list-item [routerLink]="['/github', 'twbs']">
              <mat-icon>keyboard_arrow_right</mat-icon>Bootstrap
            </a>
            <mat-list-item>
                <repo-browser></repo-browser>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar>
            <breadcrumb #parent>
              <span class="breadcrumb" *ngFor="let route of parent.breadcrumbs">
                  <a mat-button *ngIf="!route.terminal" href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
                  <a mat-button *ngIf="route.terminal">{{ route.displayName }}</a>
              </span>
            </breadcrumb>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-drawer-content>
</mat-drawer-container>
<mat-toolbar>
    <footer>© 2018</footer>
</mat-toolbar>
