<app-layout>
  <a mat-icon-button [routerLink]="['/']"><mat-icon>home</mat-icon></a>
  <a mat-button [routerLink]="['/']">Other Demos</a>
  <span class="spacer"></span>
  <a class="github-button" href="https://github.com/emilol/angular-crumbs" data-size="large" data-show-count="true" aria-label="Star emilol/angular-crumbs on GitHub"></a>
  <mat-nav-list app-sidenav>
      <a mat-list-item [routerLink]="['/']">Home</a>
      <a mat-list-item [routerLink]="['/about']">About</a>
      <a mat-list-item [routerLink]="['/github']">GitHub</a>
      <a [routerLink]="['/github', item.id]" *ngFor="let item of shortcuts">
        <mat-list-item>
              <mat-icon>keyboard_arrow_right</mat-icon>{{item.title}}
        </mat-list-item>
      </a>
      <mat-list-item>
          <repo-browser></repo-browser>
      </mat-list-item>
  </mat-nav-list>
  <mat-toolbar app-content>
      <breadcrumb #parent>
        <span class="breadcrumb" *ngFor="let route of parent.breadcrumbs">
            <a mat-button *ngIf="!route.terminal" href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
            <a mat-button *ngIf="route.terminal">{{ route.displayName }}</a>
        </span>
      </breadcrumb>
  </mat-toolbar>
  <main app-content class="mat-typography">
      <router-outlet></router-outlet>
  </main>
</app-layout>
